@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir.eot') format('eot'),
    url('../fonts/vazir.ttf') format('ttf'),
    url('../fonts/vazir.woff') format('woff'),
    url('../fonts/vazir.woff2') format('woff2'),
}